html {
  text-align: center;
  background-image: linear-gradient(to bottom right, red, yellow);
}

h1 {
  text-shadow: 3px 3px 3px #000000;
  color: white;
  border: 7px solid Blue;
  width: 450px;
  height: 45px;
  margin: 0 auto;
  background-color: green;
  border-radius: 15px;
}

#div-1 {
  border: 10px solid green;
  width: 300px;
  margin: 0 auto;
  background-color: Blue;
  border-radius: 200px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  font-size: 20px;
}
