html {
  text-align: center;
  background-color: #1ecbe1;
}

h1 {
  text-shadow: 3px 3px 3px #000000;
  color: white;
  border: 7px solid #cbe11e;
  width: 450px;
  height: 45px;
  margin: 0 auto;
  background-color: #e11ecb;
  border-radius: 15px;
}

#div-1 {
  border: 10px solid #e11ecb;
  width: 300px;
  margin: 0 auto;
  background-color: #cbe11e;
  border-radius: 200px;
}

#output {
  color: black
}

#author-link {
  color: white;
  text-decoration: none;
}

#author-link:hover{
  text-decoration: underline;
  font-size: 20px;
}

fieldset {
  width: 500px;
  margin: 0 auto;
  background-color: #e11ecb;
  border: 5px solid #cbe11e;
}

ul {
  display: inline-table;
}

#submit {
  background-color: purple;
  color: white;
  width: 100px;
  height: 50px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 10px;
}

#submit:hover {
  width: 120px;
  height: 60px;
  border: 4px solid black;
}
