html {
  text-align: center;
  background-color: orange;
}

h1 {
  text-shadow: 3px 3px 3px #000000;
  color: white;
  border: 7px solid Blue;
  width: 450px;
  height: 45px;
  margin: 0 auto;
  background-color: green;
  border-radius: 15px;
}

#div-1 {
  border: 10px solid green;
  width: 300px;
  margin: 0 auto;
  background-color: Blue;
  border-radius: 200px;
}

#output {
  color: black
}

#author-link {
  color: white;
  text-decoration: none;
}

#author-link:hover{
  text-decoration: underline;
  font-size: 20px;
}

fieldset {
  width: 500px;
  margin: 0 auto;
}

ul {
  display: inline-table;
}

li {

}
